<!-- users/templates/users/auth/register_login.html -->
{% extends 'base.html' %}

{% block title %}Register-Login{% endblock title %}

	{% block content %}

	<div style="width: 500px; height: 200px; 
		margin: 0 auto; 
		background-color: #ccc; 
		margin-top: 100px; 
		padding: 50px;">

		<h1>Register-Login</h1>

		<form 
			method="POST" 
			action="{% url 'users:login' %}" 
			class="">
			{% csrf_token %}

			<input 
				type="text" 
				name="username"
				placeholder="Username">

			<input 
				type="password" 
				name="password"
				placeholder="Enter password">

			<input 
				type="submit" 
				name=""
				value="Login">
		</form>
	</div>

	{% endblock content %}