<!-- users/templates/users/auth/register_login.html -->
{% extends 'base.html' %}

{% block title %}Register-Login{% endblock title %}

	{% block content %}

	<h1>Register-Login</h1>

	<form 
		method="POST" 
		action="{% url 'users:login' %}" 
		class="">
		{% csrf_token %}

		<input 
			type="text" 
			name="username"
			placeholder="Username">

		<input 
			type="password" 
			name="password"
			placeholder="Enter password">

		<input 
			type="submit" 
			name=""
			value="Login">
	</form>
	
	{% endblock content %}