<!-- users/templates/users/profile_form.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Profile form{% endblock title %}

	{% block content %}

	<div style="width:500px;  
		margin: 0 auto; background: #ccc; 
		padding: 50px; margin-top: 50px;">

		<h1>Edit Account</h1>

		<form 
			action="{% url 'users:account_edit' %}" 
			method="POST">
			{% csrf_token %}

			{{form.as_p}}

			<input 
				type="submit" 
				name="" 
				value="Submit">
		</form>
	</div>
	{% endblock content %}