<!-- projects/templates/projects/project_single.html -->

{% extends 'base.html' %}


{% block content %}
	<div>
		<p>Project id: {{project.id}}</p>
		<h1>Project title:{{project.title}}</h1>
		<p><span style="color:#2B7C42;">Deskripsi</span>:{{project.description}}</p>
		<ul>
			<li><a href="https://www.google.com">Demo Link</a></li>
			<li><a href="https://www.facebook.com">Source Link</a></li>
		</ul>
		<h6>Tags: {{project.tags}}</h6>
		<a href="{% url 'projects:projects' %}">Back home &larr;</a>
	</div>
{% endblock content %}
