<!-- projects/templates/projects/project_single.html -->

{% extends 'base.html' %}


{% block content %}
	<div>
		<h1>Judul: Torang Bisa Apa?</h1>
		<p><span style="color:#2B7C42;">Deskripsi</span>:Aplikasi ini 
		dibangun untuk memfasilitasi para Coders, Developers, Content 
		Creators dan orang-orang Kreatif Indonesia menggunakan Django 
		Framework.</p>
		<ul>
			<li><a href="https://www.google.com">Demo Link</a></li>
			<li><a href="https://www.facebook.com">Source Link</a></li>
		</ul>
		<h6>Tags: Django 3 | Python 3</h6>
	</div>
{% endblock content %}
