<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Torang Bisa Apa | {% block title %}{% endblock title %} </title>
</head>
<body>
	<div style="width:800px;height: 800px;
		border: 2xp solid red;
		margin: 0 auto;
		padding: 60px;
		background-color: #D8E8D6;
		">
		
		<!-- Navbar -->
		{% include 'shared/navbar.html' %}

		<!-- Content -->
		{% block content %}
		{% endblock content %}

		<!-- Footer -->
		{% include 'shared/footer.html' %}
	</div>
</body>
</html>